<footer class="footer">
    <div class="container text-center">
        <a class="cc-facebook btn btn-link" href="https://www.facebook.com/swapnali.wakale.39/" target="_blank">
            <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-instagram btn btn-link" href="https://www.instagram.com/_s_w_a_p_n_a_l_i_6/" target="_blank">
            <i class="fa fa-instagram fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-github btn btn-link " href="https://https://github.com/swapnali1801/" target="_blank">
            <i class="fa fa-github fa-2x " aria-hidden="true"></i>
        </a>
    </div>
    <div class="text-center text-muted">
        <p>&copy; All rights reserved.</p>
    </div>
</footer>